@font-face {
  font-family: 'yahei';
  src: url('@/assets/font/yahei.ttf');
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.single-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  // volume bar popper
  .el-popper.volume-popper {
    width: 30px !important;
    min-width: 0;
    padding: 10px 0;
    background-color: #222225;
    border-color: gray;
  }
  .el-popper__arrow {
    transform: translate(10px, 0) !important;
  }

  // search board popper
  .el-popper.search-popper {
    width: 400px !important;
    height: 450px;
    padding: 0;
    background-color: #222225;
    border: none;
    .search-board-wrap {
      padding: 20px;
      .label {
        font-weight: bold;
        display: inline-block;
        font-size: 15px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      i {
        font-size: 14px;
        cursor: pointer;
        &:hover {
          color: #ddd;
        }
      }
      .search-history {
        .el-tag {
          background-color: #ddd;
          border: none;
          color: gray;
          margin-right: 10px;
          margin-bottom: 10px;
          i {
            color: gray;
            &:hover {
              color: red;
              background-color: unset;
            }
          }
        }
      }
      .hot-search {
        .index {
          display: inline-block;
          margin-left: 10px;
          width: 30px;
        }
        .item {
          display: flex;
          align-items: center;
          height: 40px;
          margin-bottom: 5px;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            background-color: rgba(105, 105, 105, 0.3);
          }
          .right {
            display: flex;
            flex-direction: column;
            .title {
              display: flex;
              align-items: center;
              .word {
                color: #ddd;
              }
              .score {
                font-size: 12px;
              }
              span {
                margin-right: 10px;
              }
              img {
                height: 15px;
              }
            }
            .content {
              font-size: 12px;
              color: rgb(58, 58, 58);
            }
          }
        }
      }
    }
  }

  // current playlist drawer
  .el-overlay {
    // 设置遮罩层高度
    bottom: 80px;
    height: auto;
    .list-drawer {
      background-color: #222225;
      color: #ddd;
      .title-wrap {
        display: flex;
        flex-direction: column;
        .top {
          font-size: 18px;
          font-weight: bold;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 20px 0;
          .song-count {
            font-size: 13px;
            color: #616161;
          }
          .clear-all {
            font-size: 14px;
            color: rgb(95, 77, 77);
            cursor: pointer;
          }
        }
      }
    }
    #el-drawer__title {
      margin-bottom: 0;
    }
    .el-drawer__body {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .playlist-wrap {
      width: 100%;
      height: 100%;
      .scroll-bar {
        height: 100%;
        .item {
          padding: 10px 0;
          margin-right: 20px;
          border-radius: 5px;
          background-color: #2e2e30;
          margin-bottom: 10px;
          display: flex;
          font-size: 12px;
          line-height: 20px;
          .title {
            padding: 0 5px;
            flex: 3;
          }
          .singer {
            flex: 2;
            color: gray;
          }
          .duration {
            width: 40px;
            color: gray;
          }
        }
        .active {
          background-color: #644a4a;
          .title, .singer {
            color: rgb(219, 109, 109);
          }
        }
      }
    }
  }

  // clear search history dialog
  .clear-search-history-dialog {
    border-radius: 10px;
    background-color: #222225;
  }
}
