@font-face {
  font-family: 'yahei';
  src: url('@/assets/font/yahei.ttf');
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* 避免拖动鼠标选择到文字 */
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.single-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  // volume bar popper
  .el-popper.volume-popper {
    width: 30px !important;
    min-width: 0;
    padding: 10px 0;
    background-color: $popper-bg-color;
    border: none;
    box-shadow: $popper-box-shadow;
  }
  .el-popper__arrow {
    transform: translate(10px, 0) !important;
  }

  // search board popper
  .el-popper.search-popper {
    width: 400px !important;
    height: 450px;
    padding: 0;
    background-color: $search-bg-color;
    color: $font-inactive-color;
    border: none;
    .search-board-wrap {
      padding: 20px;
      .label {
        font-weight: bold;
        display: inline-block;
        font-size: 15px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      i {
        font-size: 14px;
        cursor: pointer;
        @include hover-font;
      }
      .search-history {
        .el-tag {
          background-color: $search-tag-color;
          color: $font-color;
          border: none;
          margin-right: 10px;
          margin-bottom: 10px;
          cursor: pointer;
          &:hover {
            background-color: $search-tag-hover-color;
          }
          i {
            color: $font-inactive-color;
            &:hover {
              color: $font-active-color;
              background-color: unset;
            }
          }
        }
      }
      .hot-search {
        .index {
          display: inline-block;
          margin-left: 10px;
          width: 30px;
        }
        .item {
          display: flex;
          align-items: center;
          height: 40px;
          margin-bottom: 5px;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            background-color: $item-hover-bg-color;
          }
          .right {
            display: flex;
            flex-direction: column;
            .title {
              display: flex;
              align-items: center;
              .word {
                color: $font-color;
              }
              .score {
                font-size: 12px;
              }
              span {
                margin-right: 10px;
              }
              img {
                height: 15px;
              }
            }
            .content {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .el-popper.dropdown {
    background-color: $dropdown-bg-color !important;
    border: none !important;
    box-shadow: $dropdown-box-shadow !important;
    .el-dropdown-menu {
      background-color: unset;
    }
    i {
      font-size: 16px;
    }
  }

  .el-popper {
    background-color: $bg-color-3 !important;
    border: none !important;
    .el-popper__arrow {
      display: none !important;
    }
  }

  // current playlist drawer
  .el-overlay {
    // 设置遮罩层高度
    bottom: 80px;
    height: auto;
    .list-drawer {
      background-color: $popper-bg-color;
      .title-wrap {
        display: flex;
        flex-direction: column;
        color: $font-inactive-color;
        .top {
          font-size: 18px;
          font-weight: bold;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 20px 0;
          .song-count {
            font-size: 13px;
          }
          .clear-all {
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
    #el-drawer__title {
      margin-bottom: 0;
    }
    .el-drawer__body {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .playlist-wrap {
      width: 100%;
      height: 100%;
      .scroll-bar {
        height: 100%;
        .item {
          padding: 10px 0;
          margin-right: 20px;
          border-radius: 5px;
          background-color: $item-bg-color;
          margin-bottom: 10px;
          display: flex;
          font-size: 12px;
          line-height: 20px;
          color: $font-inactive-color;
          .title {
            color: $font-color;
            padding: 0 5px;
            flex: 3;
          }
          .singer {
            flex: 2;
          }
          .duration {
            width: 40px;
          }
        }
        .active {
          background-color: $item-active-bg-color;
          .title, .singer {
            color: $font-active-color;
          }
        }
      }
    }
  }

  // clear search history dialog
  .clear-search-history-dialog {
    border-radius: 10px;
    background-color: $popper-bg-color;
  }

  .el-tabs__nav-wrap::after {
    height: 0;
  }

  .el-dropdown__popper {
    --el-dropdown-menuItem-hover-fill: var(--bg-color-4);
    --el-dropdown-menuItem-hover-color: #fff;
  }

  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: var(--bg-color-4);
  }
}

$themeDict: (
  green: #15201a,
  yellow: #563200,
  red: #6f0f07,
  blue: #01151c,
  black: #000000,
  pink: #a63c78,
);
@each $key, $value in $themeDict {
  .#{$key}-gradient::after {
    width: 300%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to right,
      rgba($value, 0.6) 0%,
      rgba($value, 0.6) 40%,
      rgba($value, 0) 50%,
      rgba($value, 0.6) 60%,
      rgba($value, 0.6) 100%
    );
    animation: slide ease-in-out 3s infinite;
    @keyframes slide {
      0% {
        -webkit-transform: translateX(-66.666%);
      }
      100% {
        -webkit-transform: translateX(0);
      }
    }
  }
}

.primary-btn {
  background-color: $fg-color-2 !important;
}
