@font-face {
  font-family: 'yahei';
  src: url('@/assets/font/yahei.ttf');
}

html, body, #app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url('/rainBg.png');
  background-size: cover;
  /* 避免拖动鼠标选择到文字 */
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.single-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-lines-ellipsis {
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.image-inset-shadow {
  box-shadow: 0 20px 20px rgba(rgb(0, 0, 0), 0.3) inset,
  0 -20px 20px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 20px 20px rgba(rgb(0, 0, 0), 0.3) inset,
  0 -20px 20px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 20px 20px rgba(rgb(0, 0, 0), 0.3) inset,
  0 -20px 20px rgba(0, 0, 0, 0.3) inset;
  -o-box-shadow: 0 20px 20px rgba(rgb(0, 0, 0), 0.3) inset,
  0 -20px 20px rgba(0, 0, 0, 0.3) inset;
}

body {
  // volume bar popper
  .el-popper.volume-popper {
    width: 30px !important;
    min-width: 0;
    padding: 10px 0;
    margin-left: -7px !important;
    border: none;
  }
  .el-popper__arrow {
    transform: translate(10px, 0) !important;
  }

  // search board popper
  .el-popper.search-popper {
    width: 400px !important;
    height: 450px;
    padding: 0;
    color: $font-inactive-color;
    border: none;
    .search-board-wrap {
      padding-bottom: 20px;
      .label {
        display: inline-block;
        font-size: 15px;
        margin: 15px 0;
        margin-left: 10px;
        span {
          font-weight: bold;
          margin: 0 5px;
        }
      }
      i {
        font-size: 14px;
      }
      .icon-remove {
        cursor: pointer;
        @include hover-font;
      }
      .search-history {
        .history-tags {
          padding: 0 20px;
        }
        .el-tag {
          background-color: $theme-color-1;
          color: $font-color;
          border: none;
          margin-right: 10px;
          margin-bottom: 10px;
          cursor: pointer;
          &:hover {
            background-color: $theme-color-2;
          }
          i {
            color: $font-inactive-color;
            &:hover {
              color: $font-active-color;
              background-color: unset;
            }
          }
        }
      }
      .hot-search {
        .item {
          display: flex;
          align-items: center;
          height: 40px;
          margin: 0 20px;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            background-color: $item-hover-color;
          }
          .index {
            display: inline-block;
            margin-left: 10px;
            width: 30px;
            flex-shrink: 0;
          }
          .right {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .title {
              display: flex;
              align-items: center;
              .word {
                color: $font-color;
              }
              .score {
                font-size: 12px;
              }
              span {
                margin-right: 10px;
              }
              img {
                height: 15px;
              }
            }
            .content {
              font-size: 12px;
            }
          }
        }
        .active {
          background-color: $item-hover-color;
        }
      }
    }
    .search-suggest-wrap {
      padding-bottom: 20px;
      color: $font-color;
      .label {
        display: inline-block;
        font-size: 15px;
        margin: 10px 0;
        margin-left: 10px;
        color: $font-inactive-color;
        span {
          font-weight: bold;
        }
        .iconfont {
          margin-right: 5px;
        }
        &:hover {
          color: $font-color;
        }
      }
      .item {
        padding: 8px;
        margin: 0 25px;
        border-radius: 5px;
        &:hover {
          background-color: $item-hover-color;
        }
      }
      .alias {
        color: $font-inactive-color;
        font-size: 12px;
      }
      .active {
        background-color: $item-hover-color;
        .label-content, .iconfont {
          color: $font-color;
        }
      }
      .active.label {
        background-color: unset;
      }
    }
  }

  .el-popper.video-tags-popper {
    height: 300px;
  }

  .el-popper.dropdown {
    background-color: $popper-bg-color !important;
    border: none !important;
    .el-dropdown-menu {
      background-color: unset;
    }
    i {
      font-size: 16px;
    }
  }

  .el-popper {
    background-color: $popper-bg-color !important;
    border: none !important;
    .el-popper__arrow {
      display: none !important;
    }
  }

  // current playlist drawer
  .el-overlay {
    // 设置遮罩层高度
    bottom: 43px;
    height: auto;
    .list-drawer {
      background-color: $popper-bg-color;
      .title-wrap {
        display: flex;
        flex-direction: column;
        color: $font-inactive-color;
        .top {
          font-size: 18px;
          font-weight: bold;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 20px 0;
          .song-count {
            font-size: 13px;
          }
          .clear-all {
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
    #el-drawer__title {
      margin-bottom: 0;
    }
    .el-drawer__body {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .playlist-wrap {
      width: 100%;
      height: 100%;
      .scroll-bar {
        height: 100%;
        .item {
          padding: 10px 0;
          margin-right: 20px;
          border-radius: 5px;
          background-color: $item-color-1;
          margin-bottom: 10px;
          display: flex;
          font-size: 12px;
          line-height: 20px;
          color: $font-inactive-color;
          .operation {
            text-align: center;
            width: 25px;
            .icon-play-hollow {
              display: none;
              cursor: pointer;
              @include hover-font;
            }
            .icon-volume, .icon-close-volume {
              color: $theme-color-1;
            }
            i {
              font-size: 12px;
            }
          }
          .title {
            color: $font-color;
            padding-right: 5px;
            flex: 3;
          }
          .singer {
            flex: 2;
          }
          .duration {
            width: 40px;
          }
          &:hover {
            background-color: $item-hover-color;
            .operation {
              .icon-play-hollow {
                display: block;
                @include bounce-in;
              }
              .index {
                display: none;
              }
            }
          }
        }
        .active {
          background-color: $item-active-color;
          .title, .singer {
            color: $font-active-color;
          }
        }
      }
    }
  }

  // clear search history dialog
  .clear-search-history-dialog {
    border-radius: 10px;
    background-color: $popper-bg-color;
  }

  .el-tabs__nav-wrap::after {
    height: 0;
  }

  .el-dropdown__popper {
    --el-dropdown-menuItem-hover-fill: rgb(80, 80, 80);
    --el-dropdown-menuItem-hover-color: #fff;
  }

  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: var(--bg-color-4);
  }

  .el-textarea .el-input__count {
    background-color: unset;
  }
}

.primary-btn {
  background-color: $theme-color-1 !important;
  span {
    color: #fff;
  }
}
